<mat-card>
    <mat-card-content>
        <form>
            <mat-form-field class="maxWidth" >
                <mat-label>Title</mat-label>
                <input matInput #title name="title" [(ngModel)]="blog.title" >
            </mat-form-field>

            <mat-form-field class="maxWidth" >
                <mat-label>Body</mat-label>
                <textarea matInput name="body" [(ngModel)]="blog.body" ></textarea>
            </mat-form-field>
            <button mat-raised-button matSuffix color=primary type="button" (keyup.enter)="updateBlog()" (click)="updateBlog()" >Post</button>
        </form>
    </mat-card-content>
</mat-card>


