<div class="landing-container parallax">
  <mat-card>
    <app-rest-picker></app-rest-picker>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <mat-card-title>Ludum Dare 47</mat-card-title>
      <mat-card-subtitle>Theme: Stuck in a Loop</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Leading up to this game jam I wasn't feeling very motivated to participate. I ended up deciding to do it at a
        ~very~ leisurely pace.
        The work that I got done in the limited amount of time was not an amazing feat, but having not touched game dev
        for a while I was happy.

      </p>

      <p>
        I'm looking forward to the next jam!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button href="https://tomd1013.itch.io/one-more-orbit">Link to project</a>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Another Thing</mat-card-title>
      <mat-card-subtitle>There are many things I do</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        I have many talents and I would like everybody to recognize that fact.
      </p>
    </mat-card-content>
  </mat-card>
</div>