<mat-toolbar>
    <span>TCD3</span>

    <span class="filler"></span>
    
    <span>
        <button mat-raised-button type="button" role="presentation" *ngIf="!isLoggedIn()" routerLinkActive="active" [routerLink]="['/login']">Login</button>
        <button mat-raised-button type="button" role="presentation" *ngIf="isLoggedIn()" (click)="logout()" >Logout</button>
        <button mat-raised-button type="button" role="presentation" *ngIf="isLoggedIn()" routerLinkActive="active" [routerLink]="['/blogs/create']">Create</button>
        <button mat-raised-button  type="button" role="presentation" routerLinkActive="active" [routerLink]="['/blogs']">Blog List</button>
        <a mat-raised-button color=primary href="/">Return Home</a>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>