<mat-card>
    <mat-card-content>
        <form (keyup.enter)="login(uname.value, pw.value)" >
            <mat-form-field class="maxWidth" >
                <mat-label>Username</mat-label>
                <input matInput #uname type="text">
            </mat-form-field>
            
            <mat-form-field class="maxWidth" >
                <mat-label>Password</mat-label>
                <input matInput #pw type="password">
            </mat-form-field>

            <button matSuffix mat-raised-button color=primary type="button" (click)="login(uname.value, pw.value)" >Login</button>
        </form>
    </mat-card-content>
</mat-card>