/* Flex */

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-grow {
    flex: 1 1 auto;
}

.flex-grow-2 {
    flex: 2 2 auto;
}

.flex-spc {
    justify-content: space-between;
    align-items: center;
}

.flex-jst-start {
    justify-content: flex-start;
    align-items: center;
}

/* General */

.fillh {
    width: 100%;
}

.fillv {
 height: 100%;
}

.bi {
    display: inline-block;
}

.p-sm {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.height-sm {
    height: 5em;
}

/* Text stuff */
.bold {
    font-weight: bold;
}