<mat-paginator [length]="length" [pageSize]="pageSize" (page)="handlePageEvent($event)">
</mat-paginator>

<div>
    <div class="height-sm item" *ngFor="let b of getBlogsPage()">
        <div class="flex-container flex-row flex-grow fillv">
            <div class="flex-container flex-row flex-jst-start" >
                <mat-icon>chevron_right</mat-icon>
                <div class="bg-rounded" *ngIf="isAuthor(b)" >
                    <button mat-icon-button class="material-icons" >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="material-icons" >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>

            <div class="flex-container flex-row flex-grow-2 flex-spc" (click)="navToBlog(b)" >
                <span class="bold">{{b.title}}</span> 
                <span >
                    <span>By: {{b.author}}</span> 
                    <span>
                        <button mat-button [disabled]="!isLoggedIn()"
                            (click)="$event.stopPropagation(); likeBlog(b);">
                            <mat-icon>star_outline</mat-icon>
                        </button>
                        <span style="display: inline-block; min-width: 2em; max-width: 2em;">{{b.likes}}</span>
                    </span>
                </span>
            </div>
            <img style=" height: 100%; max-width: 48px; height: auto; width: auto; " src="assets/me.jpg" alt="">
        </div>
    </div>
</div>

<mat-toolbar *ngIf="isLoggedIn()" class="height-sm">
    <button mat-button routerLinkActive="active" [routerLink]="['/blogs/create']">
        <mat-icon>add</mat-icon>
        <p class="bi">Create...</p>
    </button>
</mat-toolbar>