<mat-paginator [length]="length" [pageSize]="pageSize" (page)="handlePageEvent($event)">
</mat-paginator>

<mat-nav-list>
    <mat-list-item class="height-sm" *ngFor="let b of getBlogsPage()">
        <div class="flex-container flex-row flex-grow fillv" >
            <div class="flex-container flex-row flex-jst-start" *ngIf="isLoggedIn()" >
                <button mat-button class="material-icons" >
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button class="material-icons" >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <div class="flex-container flex-row flex-grow-2 flex-spc"  [routerLink]="['/blogs', b.id]" routerLinkActive="active">
                    <span class="bold">{{b.title}}</span> <span>By: {{b.author}} Likes: {{b.likes}}</span>
            </div>
        </div>
    </mat-list-item>
</mat-nav-list>

<mat-toolbar *ngIf="isLoggedIn()" class="height-sm">
    <button mat-button routerLinkActive="active" [routerLink]="['/blogs/create']" >
        <mat-icon>add</mat-icon>
        <p class="bi" >Create...</p>
    </button>
</mat-toolbar>