<mat-toolbar class="title">
    About
</mat-toolbar>

<mat-card class="about-content">
    <mat-card-content class="about-content-desc">
        <p>
            I'm hashtag tumblr hella bicycle rights raw denim photo booth selvage pork belly asymmetrical. Dreamcatcher thundercats single-origin coffee wolf williamsburg bespoke. Offal cornhole knausgaard narwhal, fam man bun listicle XOXO. Organic narwhal YOLO hella, twee viral plaid single-origin coffee retro prism whatever wolf farm-to-table occupy.
        </p>

        <p>
            Edison bulb 8-bit shoreditch tumblr slow-carb. Chartreuse tofu pok pok vape williamsburg authentic schlitz brunch, organic prism plaid austin church-key af chicharrones. Palo santo forage you probably haven't heard of them tattooed. Freegan asymmetrical cliche keffiyeh small batch irony af synth live-edge. Forage vape master cleanse hashtag occupy williamsburg neutra.
        </p>

        <p>
            Chillwave lyft jean shorts tbh succulents tilde ramps, cray DIY bushwick. Typewriter cronut synth meggings. Normcore godard intelligentsia blue bottle, hot chicken chicharrones skateboard meh dreamcatcher brooklyn ennui cray mustache. Post-ironic hammock taxidermy, iceland locavore edison bulb master cleanse thundercats keytar.
        </p>

        <p>
            Twee skateboard heirloom DIY vinyl marfa master cleanse craft beer chillwave. Wolf venmo flexitarian put a bird on it copper mug distillery DIY sustainable portland tbh sriracha single-origin coffee enamel pin twee art party. Farm-to-table edison bulb etsy brooklyn yuccie tousled live-edge. Meh edison bulb art party, leggings fingerstache pork belly YOLO keffiyeh vape small batch fixie cray.
        </p>

        <p>
            You probably haven't heard of them keytar vinyl, mustache fingerstache farm-to-table iPhone. Distillery af, mumblecore taxidermy pinterest aesthetic stumptown schlitz gluten-free banjo echo park. Heirloom prism messenger bag ugh semiotics, tattooed blog literally flexitarian trust fund cliche brooklyn keffiyeh. Waistcoat raclette air plant food truck vegan iceland. Cardigan chia kogi, coloring book 90's microdosing master cleanse tote bag.
        </p>

        <!--
        <p>
            I am a Software Developer with experience in Cloud-based Microservice development in an Agile environment.
        </p>

        <p>
            My main interest is programming and creating large software systems. The craftsman's mindset is the thought
            process I aim to apply to each project I work on, balancing elegance with practicality.
        </p>

        <p>
            My other major interests include Game Development, Beer Brewing, Painting, and Guitar.
        </p>
        -->
    </mat-card-content>
    <div class="center-contents">
        <img src="assets/me.jpg" alt="">
        <div><a href="https://github.com/demarcot">GitHub Profile</a></div>
        <div><a href="https://bitbucket.org/tomd1013/">BitBucket Profile</a></div>
        <div><a href="https://tomd1013.itch.io/">Itch.io Profile</a></div>
        <div>
            <p>Email: tom_demarco1013@yahoo.com</p>
        </div>
    </div>
</mat-card>